.qq-upload-button { background:#8AB858; }
.qq-upload-drop-area { min-height:85px; }
.qq-upload-fail { color:red; }
.qq-upload-success { color:#8AB858; }
.qq-upload-drop-area { min-height:60px; }
.qq-upload-list { list-style:none; }